<div class="popup" id="login-popup">
    <form class="form" action="{{ url_for('post_login_page') }}" id="login">
        <div class="popup-header">Login</div>
        <label for="username-login">Username<br>(e-mail):</label>
        <input id="username-login" type="text" required>
        <label for="password-login">Password:</label>
        <input id="password-login" type="password" minlength="6" placeholder="Min. 6 characters long" required>
        <button type="submit">Submit</button>
    </form>
</div>